@import '@angular/material/prebuilt-themes/indigo-pink.css';


.dash{
  overflow: hidden;
  position: fixed;
}

.nav{
    width: 300px;
    background-color: black;
}

.link{
  color: white ;
  margin-left: 10px;
}


.active{
  border-left: 5px solid rgb(179, 0, 0);
  font-weight: bold;
}





